.table-container {
    height: 60vh;
    min-height: 60vh;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  
  .typeahead-width {
      width:30vw;
  }

  .mat-header-cell, .mat-header-row, .mat-header-cell-def {
      min-height: 20px;
      font-weight: bold;
      color: #1a084c;
      margin-bottom: 5px;
  }
  .mat-row {
      height: 32px;
      max-height: 32px;
  }


  .gray { background-color: #f5f5f5 }